.hidden {
  display: none;
}

.pop1 {
  position: relative;
  border-color: #ccc;
}

body,html {
  background-image: url("./trivia.jpg");
}

.bg {
  /* The image used */
  background-image: url("./trivia.jpg");
  z-index: -1;
  position: relative;
}

p.lead {
  color: white;
}

h1.display-4 {
  color: white;
}

.jumbotron {
  background-color: black;
}

.card {
  text-align: center;
  position: center;
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 10px;
  z-index: auto;
}

#start {
  position: fixed;
  top: 75%;
  left: 50%;
  width: 30em;
  height: 18em;
  margin-top: -9em;
  /*set to a negative number 1/2 of your height*/
  margin-left: -15em;
  /*set to a negative number 1/2 of your width*/
  border: 1px solid #ccc;
  background-color: black;
  color: white;
  z-index: auto;
}

#stop {
  float: middle;
}